@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
body {
  all: unset;
  overflow-x: hidden;
  font-family: "Pangolin", cursive;
  font-size: 24px;
}

h1 {
  all: unset;
  font-family: "Caveat", cursive;
  font-size: 48px;
}

.wrapper {
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
  padding: 96px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  position: relative;
}
.wrapper::before {
  content: "";
  position: absolute;
  left: calc(50% - 16px);
  width: 32px;
  height: 100%;
  background: url(../images/rope.png);
  background-repeat: repeat-y;
  background-size: 100%;
  z-index: 99;
}
.wrapper .background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/paper.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  z-index: 1;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 35%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 35%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%);
}
.wrapper .image-area {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 65%, rgb(0, 0, 0) 100%);
          mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 65%, rgb(0, 0, 0) 100%);
}
.wrapper .image-area img:nth-of-type(1) {
  animation: float 14s ease-in-out infinite;
  transition-delay: 0.4087363041s;
  animation-delay: 0.5774171553s;
}
.wrapper .image-area img:nth-of-type(2) {
  animation: float 6s ease-in-out infinite;
  transition-delay: 0.5906475716s;
  animation-delay: 0.4852744218s;
}
.wrapper .image-area img:nth-of-type(3) {
  animation: float 12s ease-in-out infinite;
  transition-delay: 0.758554133s;
  animation-delay: 0.0235988384s;
}
.wrapper .image-area img:nth-of-type(4) {
  animation: float 12s ease-in-out infinite;
  transition-delay: 0.0601887437s;
  animation-delay: 0.8549200867s;
}
.wrapper .image-area img:nth-of-type(5) {
  animation: float 14s ease-in-out infinite;
  transition-delay: 0.0138906957s;
  animation-delay: 0.4399567398s;
}
.wrapper .image-area img:nth-of-type(6) {
  animation: float 8s ease-in-out infinite;
  transition-delay: 0.2945154965s;
  animation-delay: 0.3301744663s;
}
.wrapper .image-area img:nth-of-type(7) {
  animation: float 12s ease-in-out infinite;
  transition-delay: 0.2068869602s;
  animation-delay: 0.334705804s;
}
.wrapper .image-area img:nth-of-type(8) {
  animation: float 10s ease-in-out infinite;
  transition-delay: 0.9687750045s;
  animation-delay: 0.9093904983s;
}
.wrapper .image-area img:nth-of-type(9) {
  animation: float 14s ease-in-out infinite;
  transition-delay: 0.298387063s;
  animation-delay: 0.8187973889s;
}
.wrapper .image-area img:nth-of-type(10) {
  animation: float 9s ease-in-out infinite;
  transition-delay: 0.2709588798s;
  animation-delay: 0.2600832375s;
}
.wrapper .image-area img:nth-of-type(11) {
  animation: float 10s ease-in-out infinite;
  transition-delay: 0.4779176904s;
  animation-delay: 0.7123312591s;
}
.wrapper .image-area img:nth-of-type(12) {
  animation: float 13s ease-in-out infinite;
  transition-delay: 0.2180588882s;
  animation-delay: 0.5684513002s;
}
.wrapper .image-area img:nth-of-type(13) {
  animation: float 14s ease-in-out infinite;
  transition-delay: 0.7261317781s;
  animation-delay: 0.1683585995s;
}
.wrapper .image-area img:nth-of-type(14) {
  animation: float 10s ease-in-out infinite;
  transition-delay: 0.5741885359s;
  animation-delay: 0.7449235145s;
}
.wrapper .image-area img:nth-of-type(15) {
  animation: float 9s ease-in-out infinite;
  transition-delay: 0.0042595985s;
  animation-delay: 0.3850417395s;
}
.wrapper .image-area img:nth-of-type(16) {
  animation: float 11s ease-in-out infinite;
  transition-delay: 0.5163925097s;
  animation-delay: 0.7413444137s;
}
.wrapper .image-area img:nth-of-type(17) {
  animation: float 11s ease-in-out infinite;
  transition-delay: 0.9340210315s;
  animation-delay: 0.9360004098s;
}
.wrapper .image-area img:nth-of-type(18) {
  animation: float 9s ease-in-out infinite;
  transition-delay: 0.1111645556s;
  animation-delay: 0.0760999024s;
}
.wrapper .image-area img:nth-of-type(19) {
  animation: float 13s ease-in-out infinite;
  transition-delay: 0.8962704677s;
  animation-delay: 0.2248007197s;
}
.wrapper .image-area img:nth-of-type(20) {
  animation: float 8s ease-in-out infinite;
  transition-delay: 0.6729288105s;
  animation-delay: 0.9221822601s;
}
.wrapper .image-area img:nth-of-type(21) {
  animation: float 15s ease-in-out infinite;
  transition-delay: 0.6602002728s;
  animation-delay: 0.488291405s;
}
.wrapper .image-area img:nth-of-type(22) {
  animation: float 8s ease-in-out infinite;
  transition-delay: 0.7045597213s;
  animation-delay: 0.3908134233s;
}
.wrapper .image-area img:nth-of-type(23) {
  animation: float 7s ease-in-out infinite;
  transition-delay: 0.5655950362s;
  animation-delay: 0.3310594157s;
}
.wrapper .image-area img:nth-of-type(24) {
  animation: float 10s ease-in-out infinite;
  transition-delay: 0.179104252s;
  animation-delay: 0.0007424772s;
}
.wrapper .image-area img:nth-of-type(25) {
  animation: float 15s ease-in-out infinite;
  transition-delay: 0.9387084723s;
  animation-delay: 0.2178886214s;
}
.wrapper .image-area img:nth-of-type(26) {
  animation: float 14s ease-in-out infinite;
  transition-delay: 0.720923424s;
  animation-delay: 0.6138621288s;
}
.wrapper .image-area img:nth-of-type(27) {
  animation: float 10s ease-in-out infinite;
  transition-delay: 0.1296120256s;
  animation-delay: 0.444349192s;
}
.wrapper .image-area img:nth-of-type(28) {
  animation: float 8s ease-in-out infinite;
  transition-delay: 0.0666510069s;
  animation-delay: 0.0761413924s;
}
.wrapper .image-area img:nth-of-type(29) {
  animation: float 9s ease-in-out infinite;
  transition-delay: 0.7489638966s;
  animation-delay: 0.3738915606s;
}
.wrapper .image-area img:nth-of-type(30) {
  animation: float 13s ease-in-out infinite;
  transition-delay: 0.2491324816s;
  animation-delay: 0.0488946373s;
}
.wrapper .image-area img:nth-of-type(31) {
  animation: float 9s ease-in-out infinite;
  transition-delay: 0.3796943753s;
  animation-delay: 0.9706047545s;
}
.wrapper .image-area img:nth-of-type(32) {
  animation: float 15s ease-in-out infinite;
  transition-delay: 0.3010088482s;
  animation-delay: 0.8731809242s;
}
.wrapper .image-area img:nth-of-type(33) {
  animation: float 8s ease-in-out infinite;
  transition-delay: 0.4942010526s;
  animation-delay: 0.1674947841s;
}
.wrapper .image-area img:nth-of-type(34) {
  animation: float 11s ease-in-out infinite;
  transition-delay: 0.4446996943s;
  animation-delay: 0.2127154911s;
}
.wrapper .image-area img:nth-of-type(35) {
  animation: float 14s ease-in-out infinite;
  transition-delay: 0.085437018s;
  animation-delay: 0.304787841s;
}
.wrapper .image-area img:nth-of-type(36) {
  animation: float 10s ease-in-out infinite;
  transition-delay: 0.945632313s;
  animation-delay: 0.8287021475s;
}
.wrapper .image-area img {
  position: absolute;
}

@keyframes float {
  0% {
    rotate: 0deg;
    transform: translateY(0px);
  }
  25% {
    rotate: 35deg;
    transform: translateY(16px);
  }
  75% {
    rotate: -20deg;
    transform: translateY(-32px);
  }
  100% {
    rotate: 0deg;
    transform: translateY(0px);
  }
}
.circle {
  -webkit-mask-image: radial-gradient(circle, rgb(0, 0, 0) 65%, rgba(255, 255, 255, 0) 70%);
          mask-image: radial-gradient(circle, rgb(0, 0, 0) 65%, rgba(255, 255, 255, 0) 70%);
}

.square {
  -webkit-mask-image: linear-gradient(to top, transparent 10%, #fff 15% 90%, transparent 95%), linear-gradient(to left, transparent 10%, #fff 15% 90%, transparent 95%);
          mask-image: linear-gradient(to top, transparent 10%, #fff 15% 90%, transparent 95%), linear-gradient(to left, transparent 10%, #fff 15% 90%, transparent 95%);
  -webkit-mask-size: 110% 110%;
          mask-size: 110% 110%;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-composite: source-in, xor;
          mask-composite: intersect;
}

.grid-item {
  width: 100%;
  padding: 16px 32px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}
.grid-item img.polaroid {
  width: 50%;
  position: relative;
  border: 16px solid rgb(245, 245, 245);
  border-bottom: 32px solid rgb(245, 245, 245);
  transition: all 0.3s ease 0s;
}
@media (max-width: 1024px) {
  .grid-item img.polaroid {
    width: 100%;
  }
}
.grid-item img.polaroid:hover {
  scale: 1.02;
}
.grid-item video {
  width: 50%;
}
@media (max-width: 1024px) {
  .grid-item video {
    width: 100%;
  }
}
.grid-item.left {
  align-items: end;
}

img {
  all: unset;
}

.polaroid {
  filter: drop-shadow(0 10px 0.75rem rgba(0, 0, 0, 0.219));
}

.left:nth-of-type(1)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(4)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(5)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(6)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(7)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(8)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(9)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(10)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(11)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(12)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(13)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(14)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(15)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(16)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(17)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(18)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(19)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(20)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(21)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(22)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(23)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(24)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(25)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(26)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(27)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(28)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(29)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(30)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(31)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(32)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(33)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(34)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(35)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(36)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(37)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(38)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(39)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(40)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(41)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(42)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(43)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(44)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(45)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(46)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(47)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(48)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(49)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}
.left:nth-of-type(50)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 9999;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
.fullscreen__button {
  font-size: 48px;
  background: #F55;
  padding: 16px 32px;
  border-radius: 32px;
  color: white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.fullscreen__button:hover {
  scale: 1.05;
}
.fullscreen h1 {
  font-size: 96px;
}/*# sourceMappingURL=style.css.map */