@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
body {
  all: unset;
  overflow-x: hidden;
  font-family: "Pangolin", cursive;
  font-size: 24px;
}

h1 {
  all: unset;
  font-family: "Caveat", cursive;
  font-size: 48px;
}

.wrapper {
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
  padding: 96px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  position: relative;
}
.wrapper::before {
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  background: #F55;
  z-index: 99;
}
.wrapper .image-area {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 65%, rgb(0, 0, 0) 100%);
          mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 65%, rgb(0, 0, 0) 100%);
}
.wrapper .image-area img:nth-of-type(1) {
  animation: float 8s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0477629475s;
  animation-delay: 0.6052366107s;
}
.wrapper .image-area img:nth-of-type(2) {
  animation: float 15s ease-in-out infinite alternate-reverse;
  transition-delay: 0.55480188s;
  animation-delay: 0.7477594322s;
}
.wrapper .image-area img:nth-of-type(3) {
  animation: float 6s ease-in-out infinite alternate-reverse;
  transition-delay: 0.8706658484s;
  animation-delay: 0.2968014017s;
}
.wrapper .image-area img:nth-of-type(4) {
  animation: float 11s ease-in-out infinite alternate-reverse;
  transition-delay: 0.8150828698s;
  animation-delay: 0.9287964925s;
}
.wrapper .image-area img:nth-of-type(5) {
  animation: float 14s ease-in-out infinite alternate-reverse;
  transition-delay: 0.9443615613s;
  animation-delay: 0.6712334767s;
}
.wrapper .image-area img:nth-of-type(6) {
  animation: float 13s ease-in-out infinite alternate-reverse;
  transition-delay: 0.1322152371s;
  animation-delay: 0.0152143117s;
}
.wrapper .image-area img:nth-of-type(7) {
  animation: float 13s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0885927949s;
  animation-delay: 0.4126096677s;
}
.wrapper .image-area img:nth-of-type(8) {
  animation: float 12s ease-in-out infinite alternate-reverse;
  transition-delay: 0.6315416604s;
  animation-delay: 0.7836206857s;
}
.wrapper .image-area img:nth-of-type(9) {
  animation: float 13s ease-in-out infinite alternate-reverse;
  transition-delay: 0.8151910447s;
  animation-delay: 0.8399113118s;
}
.wrapper .image-area img:nth-of-type(10) {
  animation: float 15s ease-in-out infinite alternate-reverse;
  transition-delay: 0.1606474086s;
  animation-delay: 0.5477028321s;
}
.wrapper .image-area img:nth-of-type(11) {
  animation: float 10s ease-in-out infinite alternate-reverse;
  transition-delay: 0.2426680823s;
  animation-delay: 0.7672118648s;
}
.wrapper .image-area img:nth-of-type(12) {
  animation: float 11s ease-in-out infinite alternate-reverse;
  transition-delay: 0.8381298589s;
  animation-delay: 0.3184430667s;
}
.wrapper .image-area img:nth-of-type(13) {
  animation: float 9s ease-in-out infinite alternate-reverse;
  transition-delay: 0.8322916798s;
  animation-delay: 0.8958704873s;
}
.wrapper .image-area img:nth-of-type(14) {
  animation: float 8s ease-in-out infinite alternate-reverse;
  transition-delay: 0.6568844839s;
  animation-delay: 0.8390343484s;
}
.wrapper .image-area img:nth-of-type(15) {
  animation: float 14s ease-in-out infinite alternate-reverse;
  transition-delay: 0.4281825636s;
  animation-delay: 0.9240433365s;
}
.wrapper .image-area img:nth-of-type(16) {
  animation: float 11s ease-in-out infinite alternate-reverse;
  transition-delay: 0.4309526719s;
  animation-delay: 0.5752915635s;
}
.wrapper .image-area img:nth-of-type(17) {
  animation: float 14s ease-in-out infinite alternate-reverse;
  transition-delay: 0.5364954114s;
  animation-delay: 0.0053097411s;
}
.wrapper .image-area img:nth-of-type(18) {
  animation: float 12s ease-in-out infinite alternate-reverse;
  transition-delay: 0.4859420182s;
  animation-delay: 0.7579233755s;
}
.wrapper .image-area img:nth-of-type(19) {
  animation: float 8s ease-in-out infinite alternate-reverse;
  transition-delay: 0.5426084856s;
  animation-delay: 0.5226786463s;
}
.wrapper .image-area img:nth-of-type(20) {
  animation: float 15s ease-in-out infinite alternate-reverse;
  transition-delay: 0.2841486159s;
  animation-delay: 0.1401463232s;
}
.wrapper .image-area img:nth-of-type(21) {
  animation: float 8s ease-in-out infinite alternate-reverse;
  transition-delay: 0.99954543s;
  animation-delay: 0.1799792768s;
}
.wrapper .image-area img:nth-of-type(22) {
  animation: float 9s ease-in-out infinite alternate-reverse;
  transition-delay: 0.7342886805s;
  animation-delay: 0.7673711929s;
}
.wrapper .image-area img:nth-of-type(23) {
  animation: float 13s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0966770236s;
  animation-delay: 0.0074790811s;
}
.wrapper .image-area img:nth-of-type(24) {
  animation: float 15s ease-in-out infinite alternate-reverse;
  transition-delay: 0.2567643403s;
  animation-delay: 0.1397317076s;
}
.wrapper .image-area img:nth-of-type(25) {
  animation: float 12s ease-in-out infinite alternate-reverse;
  transition-delay: 0.3963315311s;
  animation-delay: 0.6744524714s;
}
.wrapper .image-area img:nth-of-type(26) {
  animation: float 8s ease-in-out infinite alternate-reverse;
  transition-delay: 0.3029136217s;
  animation-delay: 0.7344847661s;
}
.wrapper .image-area img:nth-of-type(27) {
  animation: float 7s ease-in-out infinite alternate-reverse;
  transition-delay: 0.7333812399s;
  animation-delay: 0.0258454767s;
}
.wrapper .image-area img:nth-of-type(28) {
  animation: float 8s ease-in-out infinite alternate-reverse;
  transition-delay: 0.9631756898s;
  animation-delay: 0.4815039404s;
}
.wrapper .image-area img:nth-of-type(29) {
  animation: float 12s ease-in-out infinite alternate-reverse;
  transition-delay: 0.3075924746s;
  animation-delay: 0.5967737808s;
}
.wrapper .image-area img:nth-of-type(30) {
  animation: float 8s ease-in-out infinite alternate-reverse;
  transition-delay: 0.8981195907s;
  animation-delay: 0.9696294489s;
}
.wrapper .image-area img:nth-of-type(31) {
  animation: float 15s ease-in-out infinite alternate-reverse;
  transition-delay: 0.6902109865s;
  animation-delay: 0.4374693844s;
}
.wrapper .image-area img:nth-of-type(32) {
  animation: float 13s ease-in-out infinite alternate-reverse;
  transition-delay: 0.9156006564s;
  animation-delay: 0.9133176521s;
}
.wrapper .image-area img:nth-of-type(33) {
  animation: float 10s ease-in-out infinite alternate-reverse;
  transition-delay: 0.2938039093s;
  animation-delay: 0.531575282s;
}
.wrapper .image-area img:nth-of-type(34) {
  animation: float 10s ease-in-out infinite alternate-reverse;
  transition-delay: 0.7785378653s;
  animation-delay: 0.7111012946s;
}
.wrapper .image-area img:nth-of-type(35) {
  animation: float 10s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0872040809s;
  animation-delay: 0.3701886102s;
}
.wrapper .image-area img:nth-of-type(36) {
  animation: float 8s ease-in-out infinite alternate-reverse;
  transition-delay: 0.8238965499s;
  animation-delay: 0.1629900185s;
}
.wrapper .image-area img {
  position: absolute;
}

@keyframes float {
  0% {
    rotate: 0deg;
    transform: translateY(5px);
  }
  25% {
    rotate: 35deg;
    transform: translateY(-16px);
  }
  75% {
    rotate: -20deg;
    transform: translateY(16px);
  }
  100% {
    rotate: 0deg;
    transform: translateY(0px);
  }
}
.circle {
  -webkit-mask-image: radial-gradient(circle, rgb(0, 0, 0) 65%, rgba(255, 255, 255, 0) 70%);
          mask-image: radial-gradient(circle, rgb(0, 0, 0) 65%, rgba(255, 255, 255, 0) 70%);
}

.square {
  -webkit-mask-image: linear-gradient(to top, transparent 10%, #fff 15% 90%, transparent 95%), linear-gradient(to left, transparent 10%, #fff 15% 90%, transparent 95%);
          mask-image: linear-gradient(to top, transparent 10%, #fff 15% 90%, transparent 95%), linear-gradient(to left, transparent 10%, #fff 15% 90%, transparent 95%);
  -webkit-mask-size: 110% 110%;
          mask-size: 110% 110%;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-composite: source-in, xor;
          mask-composite: intersect;
}

.grid-item {
  width: 100%;
  padding: 16px 32px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-item img {
  width: 50%;
  position: relative;
  border: 16px solid rgb(245, 245, 245);
  border-bottom: 32px solid rgb(245, 245, 245);
  transition: all 0.3s ease 0s;
}
@media (max-width: 1024px) {
  .grid-item img {
    width: 100%;
  }
}
.grid-item img:hover {
  scale: 1.02;
}
.grid-item video {
  width: 50%;
}
@media (max-width: 1024px) {
  .grid-item video {
    width: 100%;
  }
}
.grid-item.left {
  align-items: end;
}

img {
  all: unset;
}

.left::after {
  content: "";
  position: absolute;
  top: calc(50% - 16px);
  right: -16px;
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #F55;
  z-index: 999;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
.fullscreen__button {
  font-size: 48px;
  background: #F55;
  padding: 16px 32px;
  border-radius: 32px;
  color: white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.fullscreen__button:hover {
  scale: 1.05;
}
.fullscreen h1 {
  font-size: 96px;
}/*# sourceMappingURL=style.css.map */