@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
body {
  all: unset;
  overflow-x: hidden;
  font-family: "Pangolin", cursive;
  font-size: 24px;
}

h1 {
  all: unset;
  font-family: "Caveat", cursive;
  font-size: 48px;
}

.wrapper {
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(0, 0, 0) 99%, rgba(0, 0, 0, 0) 100%);
  padding: 96px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  position: relative;
}
.wrapper::before {
  content: "";
  position: absolute;
  left: calc(50% - 16px);
  width: 32px;
  height: 100%;
  background: url(../images/rope.png);
  background-repeat: repeat-y;
  background-size: 100%;
  z-index: 99;
}
.wrapper .image-area {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 65%, rgb(0, 0, 0) 100%);
          mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 65%, rgb(0, 0, 0) 100%);
}
.wrapper .image-area img:nth-of-type(1) {
  animation: float 11s ease-in-out infinite alternate-reverse;
  transition-delay: 0.2509169744s;
  animation-delay: 0.2727272022s;
}
.wrapper .image-area img:nth-of-type(2) {
  animation: float 11s ease-in-out infinite alternate-reverse;
  transition-delay: 0.9026667158s;
  animation-delay: 0.8035777367s;
}
.wrapper .image-area img:nth-of-type(3) {
  animation: float 15s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0710443752s;
  animation-delay: 0.5831790556s;
}
.wrapper .image-area img:nth-of-type(4) {
  animation: float 13s ease-in-out infinite alternate-reverse;
  transition-delay: 0.4265916671s;
  animation-delay: 0.9756713353s;
}
.wrapper .image-area img:nth-of-type(5) {
  animation: float 7s ease-in-out infinite alternate-reverse;
  transition-delay: 0.5470736081s;
  animation-delay: 0.2360231389s;
}
.wrapper .image-area img:nth-of-type(6) {
  animation: float 13s ease-in-out infinite alternate-reverse;
  transition-delay: 0.6725823305s;
  animation-delay: 0.2896734693s;
}
.wrapper .image-area img:nth-of-type(7) {
  animation: float 14s ease-in-out infinite alternate-reverse;
  transition-delay: 0.6180900591s;
  animation-delay: 0.2376411271s;
}
.wrapper .image-area img:nth-of-type(8) {
  animation: float 13s ease-in-out infinite alternate-reverse;
  transition-delay: 0.2295111841s;
  animation-delay: 0.4935441643s;
}
.wrapper .image-area img:nth-of-type(9) {
  animation: float 10s ease-in-out infinite alternate-reverse;
  transition-delay: 0.5747385917s;
  animation-delay: 0.3530058561s;
}
.wrapper .image-area img:nth-of-type(10) {
  animation: float 10s ease-in-out infinite alternate-reverse;
  transition-delay: 0.3374342897s;
  animation-delay: 0.5803641934s;
}
.wrapper .image-area img:nth-of-type(11) {
  animation: float 12s ease-in-out infinite alternate-reverse;
  transition-delay: 0.3799895929s;
  animation-delay: 0.6440606542s;
}
.wrapper .image-area img:nth-of-type(12) {
  animation: float 11s ease-in-out infinite alternate-reverse;
  transition-delay: 0.3117081199s;
  animation-delay: 0.9184717097s;
}
.wrapper .image-area img:nth-of-type(13) {
  animation: float 7s ease-in-out infinite alternate-reverse;
  transition-delay: 0.3894084695s;
  animation-delay: 0.9286877716s;
}
.wrapper .image-area img:nth-of-type(14) {
  animation: float 15s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0597731358s;
  animation-delay: 0.0569785762s;
}
.wrapper .image-area img:nth-of-type(15) {
  animation: float 13s ease-in-out infinite alternate-reverse;
  transition-delay: 0.9854972284s;
  animation-delay: 0.5289393296s;
}
.wrapper .image-area img:nth-of-type(16) {
  animation: float 8s ease-in-out infinite alternate-reverse;
  transition-delay: 0.3758542723s;
  animation-delay: 0.0495377962s;
}
.wrapper .image-area img:nth-of-type(17) {
  animation: float 15s ease-in-out infinite alternate-reverse;
  transition-delay: 0.1471570346s;
  animation-delay: 0.3254062652s;
}
.wrapper .image-area img:nth-of-type(18) {
  animation: float 13s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0028028887s;
  animation-delay: 0.7201334772s;
}
.wrapper .image-area img:nth-of-type(19) {
  animation: float 15s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0796288541s;
  animation-delay: 0.3165095647s;
}
.wrapper .image-area img:nth-of-type(20) {
  animation: float 11s ease-in-out infinite alternate-reverse;
  transition-delay: 0.2006874535s;
  animation-delay: 0.0513192028s;
}
.wrapper .image-area img:nth-of-type(21) {
  animation: float 11s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0470735876s;
  animation-delay: 0.1331137041s;
}
.wrapper .image-area img:nth-of-type(22) {
  animation: float 7s ease-in-out infinite alternate-reverse;
  transition-delay: 0.1449922901s;
  animation-delay: 0.6938954246s;
}
.wrapper .image-area img:nth-of-type(23) {
  animation: float 7s ease-in-out infinite alternate-reverse;
  transition-delay: 0.7396572494s;
  animation-delay: 0.2913031472s;
}
.wrapper .image-area img:nth-of-type(24) {
  animation: float 6s ease-in-out infinite alternate-reverse;
  transition-delay: 0.464988219s;
  animation-delay: 0.23962763s;
}
.wrapper .image-area img:nth-of-type(25) {
  animation: float 9s ease-in-out infinite alternate-reverse;
  transition-delay: 0.4121665289s;
  animation-delay: 0.3499883924s;
}
.wrapper .image-area img:nth-of-type(26) {
  animation: float 11s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0481664753s;
  animation-delay: 0.0034697793s;
}
.wrapper .image-area img:nth-of-type(27) {
  animation: float 6s ease-in-out infinite alternate-reverse;
  transition-delay: 0.499951383s;
  animation-delay: 0.0302237764s;
}
.wrapper .image-area img:nth-of-type(28) {
  animation: float 10s ease-in-out infinite alternate-reverse;
  transition-delay: 0.3381526385s;
  animation-delay: 0.6474875867s;
}
.wrapper .image-area img:nth-of-type(29) {
  animation: float 11s ease-in-out infinite alternate-reverse;
  transition-delay: 0.6486663615s;
  animation-delay: 0.6828797586s;
}
.wrapper .image-area img:nth-of-type(30) {
  animation: float 10s ease-in-out infinite alternate-reverse;
  transition-delay: 0.6278357374s;
  animation-delay: 0.9361988538s;
}
.wrapper .image-area img:nth-of-type(31) {
  animation: float 6s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0215580022s;
  animation-delay: 0.6788211684s;
}
.wrapper .image-area img:nth-of-type(32) {
  animation: float 6s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0163463071s;
  animation-delay: 0.1585538584s;
}
.wrapper .image-area img:nth-of-type(33) {
  animation: float 6s ease-in-out infinite alternate-reverse;
  transition-delay: 0.8759046738s;
  animation-delay: 0.6363157364s;
}
.wrapper .image-area img:nth-of-type(34) {
  animation: float 7s ease-in-out infinite alternate-reverse;
  transition-delay: 0.5930223642s;
  animation-delay: 0.7274986572s;
}
.wrapper .image-area img:nth-of-type(35) {
  animation: float 13s ease-in-out infinite alternate-reverse;
  transition-delay: 0.0469041735s;
  animation-delay: 0.9023965972s;
}
.wrapper .image-area img:nth-of-type(36) {
  animation: float 12s ease-in-out infinite alternate-reverse;
  transition-delay: 0.5987273926s;
  animation-delay: 0.2798575469s;
}
.wrapper .image-area img {
  position: absolute;
}

@keyframes float {
  0% {
    rotate: 0deg;
    transform: translateY(5px);
  }
  25% {
    rotate: 35deg;
    transform: translateY(-16px);
  }
  75% {
    rotate: -20deg;
    transform: translateY(16px);
  }
  100% {
    rotate: 0deg;
    transform: translateY(0px);
  }
}
.circle {
  -webkit-mask-image: radial-gradient(circle, rgb(0, 0, 0) 65%, rgba(255, 255, 255, 0) 70%);
          mask-image: radial-gradient(circle, rgb(0, 0, 0) 65%, rgba(255, 255, 255, 0) 70%);
}

.square {
  -webkit-mask-image: linear-gradient(to top, transparent 10%, #fff 15% 90%, transparent 95%), linear-gradient(to left, transparent 10%, #fff 15% 90%, transparent 95%);
          mask-image: linear-gradient(to top, transparent 10%, #fff 15% 90%, transparent 95%), linear-gradient(to left, transparent 10%, #fff 15% 90%, transparent 95%);
  -webkit-mask-size: 110% 110%;
          mask-size: 110% 110%;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-composite: source-in, xor;
          mask-composite: intersect;
}

.grid-item {
  width: 100%;
  padding: 16px 32px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-item img.polaroid {
  width: 50%;
  position: relative;
  border: 16px solid rgb(245, 245, 245);
  border-bottom: 32px solid rgb(245, 245, 245);
  transition: all 0.3s ease 0s;
}
@media (max-width: 1024px) {
  .grid-item img.polaroid {
    width: 100%;
  }
}
.grid-item img.polaroid:hover {
  scale: 1.02;
}
.grid-item video {
  width: 50%;
}
@media (max-width: 1024px) {
  .grid-item video {
    width: 100%;
  }
}
.grid-item.left {
  align-items: end;
}

img {
  all: unset;
}

.polaroid {
  filter: drop-shadow(0 10px 0.75rem rgba(0, 0, 0, 0.219));
}

.left:nth-of-type(1)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(4)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(5)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(6)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(7)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(8)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(9)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(10)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(11)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(12)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(13)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(14)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(15)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(16)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(17)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(18)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(19)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(20)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(21)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(22)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(23)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(24)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(25)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(26)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(27)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(28)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(29)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(30)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(31)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(32)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(33)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(34)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(35)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(36)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(37)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(38)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(39)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(40)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(41)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(42)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin2.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(43)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(44)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(45)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(46)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(47)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin3.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(48)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(49)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin4.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}
.left:nth-of-type(50)::after {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  aspect-ratio: 1;
  background: url("../images/pin1.png");
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.482));
  background-size: cover;
  z-index: 999;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
.fullscreen__button {
  font-size: 48px;
  background: #F55;
  padding: 16px 32px;
  border-radius: 32px;
  color: white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.fullscreen__button:hover {
  scale: 1.05;
}
.fullscreen h1 {
  font-size: 96px;
}/*# sourceMappingURL=style.css.map */